* {
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
}

.rowDiv {
	display: flex;
}

.btn {
	margin: 20px;
	padding: 5px 10px;
	border: 2px black solid;
	border-radius: 10px;
	font-weight: bold;
}
